#horton {
    clip: rect(0px,350px,350px,0px);
	cursor: pointer;
}

textarea {
	resize: none;
	width: 100%;
	height: 175;
}

#input {
	resize: none;
	width: 100%;
	height: 175;
}

#format {
	display: none;
}