#horton {
    clip: rect(0px,350px,350px,0px);
}

textarea {
	resize: none;
	width: 100%;
	height: 175;
}

#input {
	resize: none;
	width: 100%;
	height: 175;
}

#format {
	display: none;
}

button.write {
  display: inline;
  float: right;
}

/*.row {
  padding-bottom: 8px;
  padding-top: 8px;
}*/

.valign {
  margin-top: 10px;
  vertical-align: middle;
}
